/*
!.gitignore
!src
!/src/**
!resources
!/resources/**
!README.md
!dependencies
!/dependencies/**
!CG_Project.pptx
!demo.mp4
!reports
!images
!ppt
!CMakeLists.txt
.DS_Store
!/bin/**
!/doc/**
!/bin
!/doc

